@model LeHaiDang214.Models.LHD0214

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <h4>LHD0214</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LHDName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LHDName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LHDGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LHDGender)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LHDID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở Lại</a>
    </form>
</div>
